111 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "&File"
{
	MENUITEM "&Quit",  105
}
POPUP "&Display"
{
	POPUP "&Window Mode"
	{
		MENUITEM "480x360(&0)",  32782
		MENUITEM "640x480(&1)",  32783
		MENUITEM "800x600(&2)",  32784
		MENUITEM "1024x768(&3)",  32785
	}
	MENUITEM SEPARATOR
	MENUITEM "&Fullscreen Mode",  32797
}
POPUP "&Config"
{
	MENUITEM "&Key Config",  32800
}
}

103 DIALOG 22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Version Info"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS UI Gothic"
{
   CONTROL 107, 2, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 9, 16, 16
   CONTROL "12R Version 1.0", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 10, 119, 8
   CONTROL "Copyright (C) 2007", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 20, 119, 8
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 195, 6, 30, 11
}

1112 DIALOGEX 0, 0, 223, 291
STYLE DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Key Config"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "ÇlÇr ÇoÉSÉVÉbÉN"
{
   CONTROL "", 1007, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 6, 50, 12 , 0x00020000
   CONTROL "", 1008, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 24, 50, 12 , 0x00020000
   CONTROL "", 1010, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 60, 50, 12 , 0x00020000
   CONTROL "", 1013, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 204, 50, 12 , 0x00020000
   CONTROL "", 1014, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 222, 50, 12 , 0x00020000
   CONTROL "", 1025, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 258, 50, 12 , 0x00020000
   CONTROL "Defaults", 1018, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 150, 276, 50, 14
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 12, 276, 50, 14
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 66, 276, 50, 14
   CONTROL "", 1011, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 96, 50, 12 , 0x00020000
   CONTROL "", 1012, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 150, 50, 12 , 0x00020000
   CONTROL "", 1026, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 78, 50, 12 , 0x00020000
   CONTROL "", 1027, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 132, 50, 12 , 0x00020000
   CONTROL "", 1028, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 168, 50, 12 , 0x00020000
   CONTROL "", 1029, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 186, 50, 12 , 0x00020000
   CONTROL "", 1031, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 114, 50, 12 , 0x00020000
   CONTROL "", 1074, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 240, 50, 12 , 0x00020000
   CONTROL "Åõ Button", 1098, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 6, 50, 12 , 0x00000200
   CONTROL "", 1100, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 42, 50, 12 , 0x00020000
   CONTROL "Å~ Button", 1101, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 24, 50, 12 , 0x00000200
   CONTROL "Å¢ Button", 1102, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 42, 50, 12 , 0x00000200
   CONTROL "Å† Button", 1103, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 60, 50, 12 , 0x00000200
   CONTROL "L1 Button", 1104, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 78, 50, 12 , 0x00000200
   CONTROL "L2 Button", 1105, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 96, 50, 12 , 0x00000200
   CONTROL "SELECT", 1106, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 186, 50, 12 , 0x00000200
   CONTROL "Å™ Key", 1107, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 204, 50, 12 , 0x00000200
   CONTROL "Å´ Key", 1108, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 222, 50, 12 , 0x00000200
   CONTROL "Å© Key", 1109, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 240, 50, 12 , 0x00000200
   CONTROL "Å® Key", 1110, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 258, 50, 12 , 0x00000200
   CONTROL "START", 1111, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 168, 50, 12 , 0x00000200
   CONTROL "R3 Button", 1112, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 150, 50, 12 , 0x00000200
   CONTROL "R2 Button", 1113, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 132, 50, 12 , 0x00000200
   CONTROL "R1 Button", 1114, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 114, 50, 12 , 0x00000200
   CONTROL "", 1115, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 6, 50, 12 , 0x00020000
   CONTROL "", 1116, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 24, 50, 12 , 0x00020000
   CONTROL "", 1117, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 60, 50, 12 , 0x00020000
   CONTROL "", 1118, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 204, 50, 12 , 0x00020000
   CONTROL "", 1119, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 222, 50, 12 , 0x00020000
   CONTROL "", 1120, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 258, 50, 12 , 0x00020000
   CONTROL "", 1121, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 96, 50, 12 , 0x00020000
   CONTROL "", 1122, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 150, 50, 12 , 0x00020000
   CONTROL "", 1123, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 78, 50, 12 , 0x00020000
   CONTROL "", 1124, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 132, 50, 12 , 0x00020000
   CONTROL "", 1125, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 168, 50, 12 , 0x00020000
   CONTROL "", 1126, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 186, 50, 12 , 0x00020000
   CONTROL "", 1127, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 114, 50, 12 , 0x00020000
   CONTROL "", 1128, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 240, 50, 12 , 0x00020000
   CONTROL "", 1129, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 42, 50, 12 , 0x00020000
   CONTROL "", 1130, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 6, 50, 12 , 0x00020000
   CONTROL "", 1131, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 24, 50, 12 , 0x00020000
   CONTROL "", 1132, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 60, 50, 12 , 0x00020000
   CONTROL "", 1133, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 204, 50, 12 , 0x00020000
   CONTROL "", 1134, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 222, 50, 12 , 0x00020000
   CONTROL "", 1135, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 258, 50, 12 , 0x00020000
   CONTROL "", 1136, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 96, 50, 12 , 0x00020000
   CONTROL "", 1137, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 150, 50, 12 , 0x00020000
   CONTROL "", 1138, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 78, 50, 12 , 0x00020000
   CONTROL "", 1139, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 132, 50, 12 , 0x00020000
   CONTROL "", 1140, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 168, 50, 12 , 0x00020000
   CONTROL "", 1141, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 186, 50, 12 , 0x00020000
   CONTROL "", 1142, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 114, 50, 12 , 0x00020000
   CONTROL "", 1143, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 240, 50, 12 , 0x00020000
   CONTROL "", 1144, STATIC, SS_CENTER | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 42, 50, 12 , 0x00020000
   CONTROL "", 1004, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 169, 276, 50, 200
}


STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
129, 	"Memories Off ëzÇ¢èoÇ…Ç©ÇÌÇÈåN"
}


109 ACCELERATORS
LANGUAGE LANG_JAPANESE, 0x1
{
	"/", 104, NOINVERT, ALT
	"?", 104, NOINVERT, ALT
	VK_F2, 32800, NOINVERT, VIRTKEY
	VK_F3, 40066, NOINVERT, VIRTKEY
	VK_F4, 40065, NOINVERT, VIRTKEY
	VK_F10, 32806, NOINVERT, VIRTKEY
}

130 ICON "r11.ico"

